einops
h5py
numpy
pandas
matplotlib
seaborn
Pillow
h5py
scikit_learn
scipy
torch==1.13.1
torchvision==0.14.1
torch-optimizer
datasets
tokenizers==0.12.1
tqdm
beautifulsoup4
nltk
easydict
requests
bib-lookup>=0.0.19
deprecate-kwargs
deprecated
torch-ecg>=0.0.26
PyYAML
pytest
