einops
h5py
numpy
pandas
Pillow
h5py
scikit_learn
scipy
torch>=1.10.1,<2.0.0
torchvision>=0.11.1
torch-optimizer
datasets
tokenizers>=0.12.1
tqdm
beautifulsoup4
nltk
requests
bib-lookup>=0.0.19
deprecate-kwargs
torch-ecg>=0.0.26
PyYAML
