einops
h5py
numpy<2.0.0
pandas
Pillow
scikit-learn
scipy
tqdm
beautifulsoup4
nltk
datasets
tokenizers>=0.12.1
requests
bib-lookup>=0.0.19
deprecate-kwargs
torch-ecg>=0.0.26
PyYAML
packaging
PeakUtils
