sphinx
nbsphinx
sphinx-book-theme
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-emoji-favicon
sphinx-intl
sphinxcontrib-napoleon
sphinxcontrib-tikz
sphinxcontrib-bibtex
sphinxcontrib-proof
sphinxcontrib-pseudocode2
numpydoc
tqdm
